extends ../layout/main

block variables
  - var title = 'Webpack + Pug'
  - var description = 'Description for Webpack + Pug'
  - var pageClass = 'index-page'

block content
  section
    .container
      +item('item title', 'item description')
      +item('item title', 'item description')
      +item('item title', 'item description')
      img(src="assets/img/homer-u-hoo.png", alt="")
      p Lorem ipsum dolor sit amet, consectetur adipisicing.

  example-component

  block script
    script(type='application/javascript').
      //- const foo = true;
      //- let bar = function() {};
      //- if (foo) {
      //- bar(1 + 5)
      //- }
