.wrapper {
    background: rgb(209, 233, 129);
    
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;;

        img {
            width: 30%;
            height: auto;
        }
    }

    h1 {
        font-size: rem(18);
    }
}